.challeng{
    max-width: 72rem;
    margin: 0 auto;
    padding: 4.5rem 0 2.25rem;
    color: white;
    text-align: center;
}
.profil-box{
    background-color: rgba(53, 17, 101, 0.4);
    margin-top: 1rem;
    display: grid;
    grid-template-columns: 1fr 4fr;
    padding: 2.5rem;
    border-radius: 2.5rem;
    align-items: center;
}
.host-contant{
    text-align: left;
}
.host-contant h2{
    font-size: 2rem;
    font-weight: 700;
    padding-bottom: 1rem;
}
.host-contant p{
    font-weight: 300;
    line-height: 1.25rem;
    padding-bottom: 1rem;
}
.social-icons{
    display: flex;
    gap: 1rem;
}
.icn{
    width: 40px;
    height: 40px;
    border: 1px solid #533C72;
    border-radius: 50%;
    align-items: center;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    /* align-items: center; */
    /* justify-content: center; */
    place-items: center;
}
.icn img{
    width: 16px;
    height: 16px;
}
@media screen and (max-width: 576px){
    .challeng{
        padding: 0 1.5rem;
    }
    .profil-box{
        grid-template-columns: 1fr;
        place-items: center;
    }
    .host-contant{
        text-align: center;
    }
    .icn{
        justify-content: center;
        place-content: center;
    }
}