nav{
    width: 100%;
    /* height: 6rem; */
    background-color: var(--pr-color);
    text-align: center;
}
.nav-bar{
    /* border: 1px solid gray; */
    max-width: 75rem;
    margin: 0 auto;
    height: 4rem;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    justify-content: space-between;
    align-items: center;
    
}
.m-ait{
    display: flex;
    gap: 2rem;
    list-style: none;
    justify-content: center;
}
.m-ait li a{
      color: white;
      text-decoration: none;
      font-size: 1rem;
}
.sub-btn{
    border: none;
    border-radius: 1.5rem;
    padding: 10px 16px;
    color: var(--sc-color);
    background: var(--grad-one);
}
.su-bu{
    display: flex;
    align-items: center;
    gap: 4px;
    justify-content: right;
}
.r-arrow{
    align-items: center;
}
.logo{
    text-align: left;
}
.hambarger-icon{
    display: none;
}

@media screen and (max-width: 576px){
    .nav-bar{
        max-width: 72rem;
    }
    .m-ait, .su-bu{
        display: none;
    }
    .logo{
        margin-left: 2.5rem;
    }
    .hambarger-icon{
        display: block;
    }
}
