*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
}
:root{
        --brand-color: #00FF88;
        --pr-color:#1A0B2E;
        --sc-color:#FFFFFF;
        --grad-one:linear-gradient(
            90deg,
            #F7E93F 0%,
            #FB09B4 51%, 
            #9100F8 100%);
        --g2:linear-gradient(
            250deg, 
            #007b70 0%, 
            #ECF955 100%);
}
nav{
    width: 100%;
    /* height: 6rem; */
    background-color: var(--pr-color);
    text-align: center;
}
.nav-bar{
    /* border: 1px solid gray; */
    max-width: 75rem;
    margin: 0 auto;
    height: 4rem;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    justify-content: space-between;
    align-items: center;
    
}
.m-ait{
    display: flex;
    gap: 2rem;
    list-style: none;
    justify-content: center;
}
.m-ait li a{
      color: white;
      text-decoration: none;
      font-size: 1rem;
}
.sub-btn{
    border: none;
    border-radius: 1.5rem;
    padding: 10px 16px;
    color: var(--sc-color);
    background: var(--grad-one);
    cursor: pointer;
}
.su-bu{
    display: flex;
    align-items: center;
    gap: 4px;
    justify-content: right;
}
.r-arrow{
    align-items: center;
}
.logo{
    text-align: left;
}
.hambarger-icon{
    display: none;
}

@media screen and (max-width: 576px){
    .nav-bar{
        max-width: 72rem;
    }
    .m-ait, .su-bu{
        display: none;
    }
    .logo{
        margin-left: 2.5rem;
    }
    .hambarger-icon{
        display: block;
    }
}
#hero{
    width: 100%;
    background-color: blue;
    background: url(../assets/hero-bg.png);
    align-items: center;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.hero-banner{
    max-width: 75rem;
    margin: 0 auto;
    
}
.hero-img{
    /* border: 1px solid white; */
    max-width: 21.875rem;
    margin: auto;
    position: relative;
    padding-top: 6.3rem;
    overflow: visible;
    z-index: 1;
}
.hero-circle{
    width: 100%;
    
}
.hero-icon{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -25%);
}
.badge-new{
    font-size: 36px;
    position: absolute;
    margin: 40px 0 0 -80px;
    background: #00FF88;
    color: white;
    font-size: .75rem;
    font-weight: 900;
    padding: 18px 24px;
    border-radius: 2.75rem;
    box-shadow: 0 0 0 3px rgba(0, 255, 136, 0.5);
    line-height: 1px;
    z-index: 5;
}
.hero-contant{
    /* border: 1px solid wheat; */
    max-width: 34.37rem;
    margin: 0 auto;
    padding: 2.5rem 0 6.3rem 0;
    text-align: center;
    color: var(--sc-color);
}
.hero-title{
    font-size: 3.75rem;
    font-weight: 900;
}
.hero-subtitle{
    font-size: 1rem;
    padding: .5rem 0 1rem 0;
}
.hero-btn{
    gap: 1.75rem;
}
.hero-btn1{
    font-weight: 700;
    border: none;
    border-radius: 1.5rem;
    padding: 10px 16px;
    color: var(--sc-color);
    background: var(--grad-one);
    cursor: pointer;
    background-size: 500% 500%;
    transition: transform 0.25s ease;
    animation: gradientMove 6s ease infinite;
}
.hero-btn2{
    font-weight: 700;
    border: none;
    border-radius: 1.5rem;
    padding: 10px 16px;
    color: #00FF88;
    border: 2px solid #00FF88;
    background: transparent;
    cursor: pointer;
    transition: transform 0.25s ease;
    transition: border 0.3s ease, color 0.3s ease;
}
.hero-btn2:hover {
    background: #00ff99;
    color: #1a0836;
}
@keyframes gradientMove {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}
@media screen and (max-width: 576px){
    .hero-subtitle{
        width: 75%;
        margin: 0 auto;
    }
}
#about{
    background-color: var(--pr-color);
}

.about-contant {
    max-width: 75rem;
    margin: 0 auto;
    color: var(--sc-color);
    text-align: center;
}
.about-contant h1{
    font-size: 3rem;
    font-weight: 700;
    padding: 3.12rem 0 1rem 0;
}
.about-contant p{
    max-width: 49rem;
    margin: 0 auto;
    text-align: center;
}
hr{
    border: 1px solid white;
    margin: 5rem 0;
}
.feature{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding-bottom: 7.5rem;
    text-align: center;
}
.big-num{
    font-size: 3rem;
    font-weight: 900;
    color: var(--brand-color);
}
.feature p{
    text-transform: uppercase;
    font-weight: 300;
}

@media screen and (max-width: 576px){
    .about-contant{
        padding: 0 1.5rem;
    }
    .feature{
        grid-template-columns: repeat(2, 1fr);
        gap: 1.25rem 0;
    }
}
.why-choose{
    background-color: #230E3D;
    width: 100%;
}
.cause{
    max-width: 100rem;
    margin: 0 auto;
    text-align: center;
    padding: 7.5rem 12.5rem;
    color: white;
}
.g-cards{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 30px;
    padding-top: 2.5rem;
}
.grid-card{
    background-color: rgba(53, 17, 101, 0.4);
    border-radius: 2.5rem;
    padding: 4.5rem 2.5rem;
    color: white;
    text-align: left;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s ease;
}
.grid-card:hover {
    transform: translateY(-6px);
}
.grid-card.r-span{
    grid-row: span 2;
}
.grid-card.c-span{
    grid-column: span 2;
}
.text-con{
    margin: auto;
    align-items: center;
}
.text-con h3{
    font-size: 1.65rem;
    padding: .75rem 0;
}
.text-con p{
    line-height: 1.5rem;
    font-weight: 300;
}
.spciel-provlem{
    padding-top: 107px;
}
@media screen and (max-width: 576px){
    .g-cards {
        grid-template-columns: repeat(1, 1fr);
        padding: 0 1.25rem;
    }
    .cause{
        padding: 0;
    }
    .grid-card.r-span,
    .grid-card.c-span {
        grid-column: span 1;
        grid-row: span 1;
    }
    .spciel-provlem{
        padding-top: 0;
    }
}
#feat-chall{
    background-color: var(--pr-color);
    width: 100%;
}
.featured{
    /* border: 1px solid tomato; */
    max-width: 75rem;
    margin: 0 auto;
    color: white;
    text-align: center;
    padding: 2.5rem 0;
}
.video-card{
    padding: 1.5rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    overflow: hidden;
    gap: .75rem;
}
.yt-video{
    /* border: 1px solid tomato; */
    background-color: #250D44;
    border-radius: 1.5rem;
    width: 23.75rem;
    height: 27.5rem;
    gap: 2rem;
    display: 100%;
    position: relative;
    margin: 0 auto;
}
.yt-video iframe{
    position: relative;
    width: 100%;
    height: 48%;
    border: 0;
    border-radius: 1.5rem;
    inset: 0;
    /* border-radius: 1.5rem 1.5rem 0 0; */
    border-top-left-radius: 1.5rem;
    border-top-right-radius: 1.5rem;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    overflow: hidden; 
}
.ytvdo-des{
    text-align: left;
    padding: 1.5rem;
}
.ytvdo-des h2{
    font-size: 1.25rem;
    font-weight: 700;
}
.ytvdo-des p{
    padding-top: 16px;
    line-height: 1.5rem;
    font-weight: 300;
}
.c-icon{
    display: flex;
    padding: 0.75rem 0;
    color: var(--brand-color);
    align-items: center;
    gap: .25rem;
}
@media screen and (max-width: 576px){
    .video-card{
        grid-template-columns: repeat(1, 1fr);
    }
}
.challeng{
    max-width: 72rem;
    margin: 0 auto;
    padding: 4.5rem 0 2.25rem;
    color: white;
    text-align: center;
}
.profil-box{
    background-color: rgba(53, 17, 101, 0.4);
    margin-top: 1rem;
    display: grid;
    grid-template-columns: 1fr 4fr;
    padding: 2.5rem;
    border-radius: 2.5rem;
    align-items: center;
}
.host-contant{
    text-align: left;
}
.host-contant h2{
    font-size: 2rem;
    font-weight: 700;
    padding-bottom: 1rem;
}
.host-contant p{
    font-weight: 300;
    line-height: 1.25rem;
    padding-bottom: 1rem;
}
.social-icons{
    display: flex;
    gap: 1rem;
}
.icn{
    width: 40px;
    height: 40px;
    border: 1px solid #533C72;
    border-radius: 50%;
    align-items: center;
    display: flex;
    align-items: center;
    justify-content: center;
    place-items: center;
}
.icn img{
    width: 16px;
    height: 16px;
}
@media screen and (max-width: 576px){
    .challeng{
        padding: 2rem 1.5rem;
    }
    .profil-box{
        grid-template-columns: 1fr;
        place-items: center;
    }
    .host-contant{
        text-align: center;
    }
    .icn{
        grid-template-columns: repeat(4, 1fr);
        align-items: center;
        justify-content: center;
        place-content: center;
    }
}
.footer{
    background: url(../assets/footer-bg.png);
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.f-cont{
    max-width: 72rem;
    margin: 0 auto;
    /* border: 1px solid tomato;   */
    justify-content: center;
    text-align: center;
    color: white;
    padding: 7.5rem;
}
.f-cont p{
    font-weight: 300;
}
.fo-blogo{
    width: 25.625rem;
}
.media-icon{
    max-width: 40rem;
    margin: 0 auto;
    /* border: 1px solid red; */
    padding: 2rem 0;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-content: center;
    place-items: center;
}
.media-icon span{
    display: flex;
    gap: 8px;
}
@media screen and (max-width: 576px){
    .f-cont img{
        width: 70%;
    }
    .f-cont p{
        font-size: .8rem;
    }
    .media-icon{
        margin: 0 auto;
        grid-template-columns: repeat(2, 1fr);
        /* border: 1px solid salmon; */
        padding: 1rem 0;
    }
    .media-icon span{
        padding: .5rem 0;
    }
    .media-icon img {
        width: 1.25rem;
        /* height: 1.25rem; */
        object-fit: contain;
        display: block;
    }
    .media-icon p{
        font-size: .8rem;
    }
}
